<div class="page-header">

    <div class="page-title">

        <h1>
            <i class="fa-solid fa-tower-cell"></i>
            Stations
        </h1>

        <p>Station Catalog</p>

    </div>

    <a href="/stations/new" class="btn btn-primary">
        <i class="fa-solid fa-plus"></i>
        New Station
    </a>

</div>

<form method="GET" action="/stations">

    <div class="card">

        <input
            type="text"
            name="search"
            placeholder="Search station..."
            value="<%= search %>">

        <button class="btn btn-primary">
            Search
        </button>

        <a href="/stations" class="btn btn-secondary">
            Clear
        </a>

    </div>

</form>

<br>

<table class="table">

    <thead>

        <tr>
            <th>Station</th>
            <th>Center</th>
            <th>Protocol111</th>
            <th>Media</th>
            <th>Actions</th>
        </tr>

    </thead>

    <tbody>

        <% if (stations.length === 0) { %>

            <tr>
                <td colspan="5">
                    No stations found.
                </td>
            </tr>

        <% } %>

        <% stations.forEach(station => { %>

            <tr>

                <td>
                    <a href="/stations/<%= station.id %>">
                        <%= station.name %>
                    </a>
                </td>

                <td>
                    <a href="/centers/<%= station.center_id %>">
                        <%= station.center_name %>
                    </a>
                </td>

                <td>
                    <%= station.protocol %>
                </td>

                <td>
                    <%= station.media || "-" %>
                </td>

                <td>

                    <a
                        class="btn btn-secondary btn-sm"
                        href="/stations/<%= station.id %>/edit">

                        <i class="fa-solid fa-pen"></i>

                    </a>

                    <form
                        action="/stations/<%= station.id %>/delete"
                        method="POST"
                        style="display:inline;">

                        <button
                            class="btn btn-danger btn-sm"
                            onclick="return confirm('Delete this station?')">

                            <i class="fa-solid fa-trash"></i>

                        </button>

                    </form>

                </td>

            </tr>

        <% }) %>

    </tbody>

</table>